#!/bin/bash
# General utilities

{{ if eq .chezmoi.os "darwin" }}
brew install git ripgrep fd bat glow atuin lsd neovim kanata lnav fish zoxide fzf tmux
{{ else if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install git ripgrep fd-find bat glow atuin lsd lnav fish unzip curl build-essential zoxide fzf tmux xclip
{{ end }}

# Tmux plugin manager

if [ ! -d {{ .chezmoi.homeDir }}/.tmux/plugins/tpm ]; then
  git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.tmux/plugins/tpm
fi
