#!/bin/bash
# General utilities

{{ if eq .chezmoi.os "darwin" }}
brew install ripgrep fd bat glow atuin lsd neovim kanata lnav fish
{{ else if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install ripgrep fd-find bat glow atuin lsd lnav fish unzip curl
VERSION="latest"
BIN_DIR="$HOME/.local/bin"
mkdir -p "$BIN_DIR"

if ! command -v bob &>/dev/null; then
  echo "Installing bob-nvim..."

  # Identify architecture
  ARCH=$(uname -m)
  if [ "$ARCH" = "x86_64" ]; then
    PLATFORM="linux-x86_64"
  elif [ "$ARCH" = "aarch64" ]; then
    PLATFORM="linux-arm64"
  else
    echo "Unsupported architecture: $ARCH"
    exit 1
  fi

  # Download and extract the binary
  # Note: Using 'latest/download' redirect from GitHub
  curl -LO "https://github.com/MordechaiHadad/bob/releases/latest/download/bob-${PLATFORM}.zip"

  # Debian usually has 'unzip' installed, if not: sudo apt install unzip
  unzip "bob-${PLATFORM}.zip"
  chmod +x bob
  mv bob "$BIN_DIR/bob"

  # Cleanup
  rm "bob-${PLATFORM}.zip"

  echo "bob-nvim installed to $BIN_DIR"
else
  echo "bob-nvim is already installed!"
fi
~/.local/bin/bob use stable
{{ end }}

if [ "$SHELL" != "$(which fish)" ]; then
  chsh -s $(which fish)
else
  echo "✅ Fish is already the default shell"
fi

if command -v fish &>/dev/null; then

  # Check fisher
  if ! fish -c "type -q fisher"; then
    echo "🐟 Fisher not found, installing..."
    fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
  fi

  echo "🔄 Updating fisher plugin..."
  fish -c "fisher update"

else
  echo "⚠️ Fish not installed"
fi

# Tmux deps

if [ ! -d {{ .chezmoi.homeDir }}/.tmux/plugins/tpm ]; then
  git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.tmux/plugins/tpm
fi
{{ if eq .chezmoi.os "darwin" }}
brew install zoxide fzf tmux
{{ else if eq .chezmoi.os "linux" }}
sudo apt update
sudo apt install zoxide fzf tmux xclip
{{ end }}
